Presentations/Templates/BlueWhite-Blue Business by Slidesgo.pptx
Presentations/Templates/BlueWhiteBasicTemplate.pptx
Presentations/Templates/GreenViolet.pptx
Programs/Trainings/01-FE/BasicJS/~$BlueWhiteBasicTemplate.pptx
Programs/Trainings/01-FE/BasicJS/~$KNITS-Js-Syntax.pptx
Programs/Trainings/01-FE/BasicJS/~$KNITS-Javascript.pptx
