Presentations/Templates/BlueWhite-Blue Business by Slidesgo.pptx
Presentations/Templates/BlueWhiteBasicTemplate.pptx
Presentations/Templates/GreenViolet.pptx
Programs/Trainings/01-FE/BasicJS/~$BlueWhiteBasicTemplate.pptx
Programs/Trainings/01-FE/BasicJS/~$KNITS-Js-Syntax.pptx
Programs/Trainings/01-FE/BasicJS/~$KNITS-Javascript.pptx
Presentations/KNITS/Events/2022-02-UlemisteEvent/WIP/*.*
Presentations/KNITS/Events/2022-03-ExComm/wip/KN+Slide+Library+2021-06-21.pptx
